* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  min-width: 28em;
  min-height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

#setup_agreefast_docusign_connect_btn {
  background-color: #0099ff;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  border-width: 0;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 5px auto;
  transition: all;
  transition-duration: 500ms;
}

#setup_agreefast_docusign_connect_btn:hover {
  background-color: #0274c0;
  transition: all;
  transition-duration: 500ms;
}

#setup_agreefast_docusign_connect_btn > img {
  width: 15px;
  height: 15px;
}

.connect-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.logo {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.logo-2 {
  width: 70px;
  height: 70px;
}

.tick {
  width: 10px;
  height: 10px;
}

#tag {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(3, 143, 251);
  width: 100%;
  text-align: center;
  font-size: 11px;
}

#tag > h1 {
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
}

footer > p {
  color: black;
  font-size: 10px;
  text-align: center;
  opacity: 0.6;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.line-container {
  position: relative;
  height: 2px;
  background-color: #ddd;
  flex-grow: 1;
  transform: perspective(200px) rotateX(34deg);
  overflow: hidden;
}

.moving-line {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #007bff;
  animation: moveLine 2s cubic-bezier(0.25, 0.1, 0.85, 1.3) infinite;
}

@keyframes moveLine {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
